<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dianshang.lost.dao.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.dianshang.lost.model.Member" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="is_admin" property="isAdmin" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="other" property="other" jdbcType="VARCHAR" />
    <result column="wx" property="wx" jdbcType="VARCHAR" />
    <result column="signare" property="signare" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, password, is_admin, create_time, img_path, phone, email, label,qq,other,wx
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.dianshang.lost.model.Member">
    select
    <include refid="Base_Column_List" />
    from member
    <where>
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="name != null" >
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="password != null" >
        AND password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="isAdmin != null" >
        AND is_admin = #{isAdmin,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
        AND create_time = #{createTime,jdbcType=DATETIME}
      </if>
      <if test="imgPath != null" >
        AND img_path = #{imgPath,jdbcType=VARCHAR}
      </if>
      <if test="phone != null" >
        AND phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="email != null" >
        AND email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="label != null" >
        AND label = #{label,jdbcType=VARCHAR}
      </if>
      <if test="qq != null" >
        AND qq = #{qq,jdbcType=VARCHAR}
      </if>
      <if test="wx != null" >
        AND wx = #{wx,jdbcType=VARCHAR}
      </if>
      <if test="other != null" >
        AND other = #{other,jdbcType=VARCHAR}
      </if>
      <if test="signare != null" >
        AND signare = #{signare,jdbcType=VARCHAR}
      </if>
    </where>
  </select>





  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dianshang.lost.model.Member" >
    insert into member (id, name, password, 
      is_admin, create_time, img_path, 
      phone, email, label,qq,wx,other,signare
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{isAdmin,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{imgPath,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR},#{qq,jdbcType=VARCHAR},
      #{wx,jdbcType=VARCHAR},#{other,jdbcType=VARCHAR},#{signare,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dianshang.lost.model.Member" >
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="isAdmin != null" >
        is_admin,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="imgPath != null" >
        img_path,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="label != null" >
      label,
    </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="wx != null" >
        wx,
      </if>
      <if test="other != null" >
      other,
    </if>
      <if test="other != null" >
        signare,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null" >
        #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imgPath != null" >
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wx != null" >
        #{wx,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="signare != null" >
        #{signare,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dianshang.lost.model.Member" >
    update member
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null" >
        is_admin = #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imgPath != null" >
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wx != null" >
        wx = #{wx,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
      other = #{other,jdbcType=VARCHAR},
    </if>
      <if test="signare != null" >
        signare = #{signare,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dianshang.lost.model.Member" >
    update member
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      is_admin = #{isAdmin,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      img_path = #{imgPath,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      wx = #{wx,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      signare = #{signare,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>