<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dianshang.lost.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.dianshang.lost.model.Message" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="to_user" property="toUser" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="contract" property="contract" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.dianshang.lost.model.Message" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, to_user, create_time, contract
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>



  <select id="select" resultMap="ResultMapWithBLOBs" parameterType="com.dianshang.lost.model.Message">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message
    <where>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="toUser != null">
        AND to_user = #{toUser,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="content != null" >
        AND content = #{content,jdbcType=VARCHAR}
      </if>
      <if test="contract != null">
        AND contract = #{contract,jdbcType=VARCHAR}
      </if>

    </where>
    order by create_time DESC
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dianshang.lost.model.Message" >
    insert into message (id, to_user, create_time, 
      contract, content)
    values (#{id,jdbcType=INTEGER}, #{toUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{contract,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dianshang.lost.model.Message" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="toUser != null" >
        to_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="contract != null" >
        contract,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="toUser != null" >
        #{toUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contract != null" >
        #{contract,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dianshang.lost.model.Message" >
    update message
    <set >
      <if test="toUser != null" >
        to_user = #{toUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contract != null" >
        contract = #{contract,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dianshang.lost.model.Message" >
    update message
    set to_user = #{toUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      contract = #{contract,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dianshang.lost.model.Message" >
    update message
    set to_user = #{toUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      contract = #{contract,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>