nav img{
    width: 5em;
    height: 5em;
    float: left;
}

input::-webkit-input-placeholder{
    color: #828282;
}
input:-moz-placeholder{
    color: #828282;
}
input::-moz-placeholder{
    color: #828282;
}
input:-ms-input-placeholder{
    color: #828282;
}
/*.slider .slides img{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/