<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Shiro 的Web过滤器 -->
    <!--3、realm-->
    <bean id="myRealm" class="com.dianshang.lost.util.MyRealm"/>

    <!--1、与web.xml对应的bean-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <!-- 如果没有认证将要跳转的登陆地址，http可访问的url，如果不在表单认证过虑器FormAuthenticationFilter中指定此地址就为身份认证地址 -->
        <property name="loginUrl" value="/userLogin" />
        <!--登陆成功-->
        <property   name = "successUrl" value = "/index"/>
        <!-- 没有权限跳转的地址 -->
        <property name="unauthorizedUrl" value="/userLogin" />
        <!--过滤定义，从上而下，将匿名的anon放最下面-->
        <property name="filterChainDefinitions">
            <value>
                /m/**=authc
                /logout = logout
                /**=anon
            </value>
        </property>
    </bean>

    <!-- 2、安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm" />
    </bean>


    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    <!-- 支持 Shiro对Controller的方法级AOP安全控制 begin -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    <!-- 支持 Shiro对Controller的方法级AOP安全控制 end -->

</beans>